extends layout

block content
  p Welcome to our project
  button(@click="getInfo()") Get user info
  form(action="/login" method="post")
    input(type="submit" value="Login with Spotify")
  button(@click="logout()") Log out
