extends layout

block content
  #app
    p Welcome, {{ user.display_name }}
    button(@click="getInfo()") Get user info
    button(@click="getPlaylists()") View playlists
    #playlists(v-show="playlists.length > 0")
      p playlists
      svg#chart(v-bind:title="makePlaylistChart()")
      ul
        li(v-for="playlist in playlists")
          a(:href="playlist.href") {{ playlist.name }}
    form(action="/logout" method="get")
      input(@click="logout()" type="submit" value="Log out")

  script(src="https://d3js.org/d3.v4.min.js")
  script(src="/javascripts/charts.js")
  script(src="/javascripts/home.js")
